<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="html/style.css">
	</head>
	<body>
		<h1>{{ length(devices) }} Devices</h1>
		<table>
		<thead>
			<tr>
				<!-- <td>Icon</td> -->
				<td>Name</td>
				<!-- <td>Hostname</td> -->
				<td>IP</td>
				<td>Service</td>
				<td>TXT</td>
			</tr>
		</thead>
		<tbody>
		{% for device in devices %}
		<tr class="device">
			<!-- <td><img src="img/what.jpg"></td> -->
			<!-- <td>{{ device["name"] }}</td> -->
			<td>{{ device["hostname"] }}</td>
			<td>{{ device["ip"] }}</td>
			<td><code>{{ device["service"] }}</code></td>
			<td>
				<ul>
				{% for key in device["txt"] %}
					<li><b>{{ key }}</b>: {{ device["txt"][key] }}</li>
				{% endfor %}
				</ul>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</body>
</html>
