body {
	font-family: sans-serif;
}

td {
	border-right: 2px solid black;
}

/* thank you vyos documentation */
tr:nth-child(2n-1) {
	background: #eee;
}

thead td {
	border-bottom: 2px solid black;
	font-style: oblique;
}

img {
	max-height: 50px;
}
